body {
  font-family: arial;
  height: 100vh;
  font-size: 14px;
}
.section {
  position: relative;
  text-align: center;
  font-size: 4em;
}

.actions {
  list-style-type: none;
}
.actions button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 7px;
  font-size: 15px;
  cursor: pointer;
}
.actions button:hover {
  background: #fff;
  color: #35495e;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.bg-yellow {
  background-color: #f7f6cf;
}

.bg-blue {
  background-color: #b6d8f2;
}

.bg-pink {
  background-color: #f4cfdf;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}
