body {
  font-family: arial;
  height: 100vh;
  font-size: 14px;
  background-color: #070707;
  color: #f1f1f1;
}

.section {
  position: relative;
  text-align: center;
  font-size: 4em;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}

.gnbMenu {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  > ul {
    overflow: hidden;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}

.gnbList {
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 20px;
  > li {
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  > li:hover {
    color: #2d7fd6;
    font-weight: bold;
  }
}
